<div class="btn-group">
  <a class="btn btn-success" href="{{ path('admin_cms_page_edit', {'id': page.id}) }}">
    <i class="icon-pencil"></i>
    редактировать
  </a>
  <a class="btn btn-danger" href="{{ path('admin_cms_page_delete', {'id': page.id}) }}">
    <i class="icon-trash"></i>
    удалить
  </a>
</div>